@using ProblemShare.Web.Models
@model LoginViewModel
@{
    Layout = "_AccountLayout.cshtml";
}

<div class="lc-block toggled" id="l-login">
    <div class="lcb-form">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "loginForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="fg-line">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email"})
                </div>
            </div>
            <div class="form-group">
                <div class="fg-line">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                </div>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="RememberMe" value="">
                    <i class="input-helper"></i>
                    Remember Me
                </label>
            </div>
            <button type="submit" class="btn btn-login btn-success"><i class="zmdi zmdi-arrow-forward"></i></button>
        }
    </div>
    @*<div class="lcb-navigation">
        <a href="" data-ma-action="login-switch" data-ma-block="#l-register"><i class="zmdi zmdi-plus"></i> <span>Register</span></a>
        <a href="" data-ma-action="login-switch" data-ma-block="#l-forget-password"><i>?</i> <span>Forgot Password</span></a>
    </div>*@
</div>


@section scripts{
    <script type="text/javascript">
        $(function () {
            function handleResult(data) {
                if (data) {
                    switch (data.result) {
                        case 0: // Success
                            if (data.redirectUrl)
                                window.location.assign(data.redirectUrl);
                            else
                                window.location.assign("/");
                            break;
                        case 1: // Failure
                            break;
                        case 2: // Error
                        default:
                            break;
                    }
                }
            }

            $('form').submit(function (e) {
                e.preventDefault();
                $.ajax({
                    url: this.action,
                    method: 'post',
                    data: $(this).serialize(),
                    success: handleResult
                });
            })
        });
    </script>
}